<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>


<body class="container">

    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <%- include('./partials/accountside.ejs'); %>

        <main class="text-center">
            Welcome to your account <br> Account Name:
            <%= user %> <br> Wins:
                <%= win %><br> Losses:
                    <%= loss %> <br> Ongoing Tournament:
                        <%= ongoingTournament %> <br>

        </main>

        <footer>
            <%- include('./partials/footer.ejs'); %>
        </footer>



</html>